libraries/schemas/src/main/resources/xsd/UNICA_API_SOAP_charging_services_v1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:ocs="http://www.telefonica.com/wsdl/UNICA/SOAP/charging/v1/services"
	xmlns:oci="http://www.telefonica.com/wsdl/UNICA/SOAP/charging/v1/interfaces"
	targetNamespace="http://www.telefonica.com/wsdl/UNICA/SOAP/charging/v1/services">
	
	<wsdl:import namespace="http://www.telefonica.com/wsdl/UNICA/SOAP/charging/v1/interfaces" location="UNICA_API_SOAP_charging_interfaces_v1.wsdl"/>


	<wsdl:binding name="ChargeSOAPBinding" type="oci:ChargePort">	
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

		<wsdl:operation name="directDebit">
			<soap:operation soapAction="urn:directDebit"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="checkBalance">
			<soap:operation soapAction="urn:checkBalance"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="generateRecord">
			<soap:operation soapAction="urn:generateRecord"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="cancelRenewal">
			<soap:operation soapAction="urn:cancelRenewal"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>		

		<wsdl:operation name="refund">
			<soap:operation soapAction="urn:refund"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>		
	</wsdl:binding>


	<wsdl:binding name="PurchaseModelsInfoSOAPBinding" type="oci:PurchaseModelsInfoPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		
		<wsdl:operation name="getPurchaseModelsOfEvents">
			<soap:operation soapAction="urn:getPurchaseModelsOfEvents"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:binding name="ManagementSOAPBinding" type="oci:ManagementPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		
		<wsdl:operation name="getExpensesControlConfiguration">
			<soap:operation soapAction="urn:getExpensesControlConfiguration"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="setExpensesControlConfiguration">
			<soap:operation soapAction="urn:setExpensesControlConfiguration"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:service name="ChargingService">
		<wsdl:port name="Charge" binding="ocs:ChargeSOAPBinding">
			<soap:address location="http://localhost/UNICA-SDP/Charging/Charge"/>
		</wsdl:port>
		<wsdl:port name="PurchaseModelsInfo" binding="ocs:PurchaseModelsInfoSOAPBinding">
			<soap:address location="http://localhost/UNICA-SDP/Charging/PurchaseModelsInfo"/>
		</wsdl:port>
		<wsdl:port name="Management" binding="ocs:ManagementSOAPBinding">
			<soap:address location="http://localhost/UNICA-SDP/Charging/Management"/>
		</wsdl:port>
	</wsdl:service>
	
	
</wsdl:definitions>
