libraries/schemas/src/main/resources/xsd/UNICA_API_SOAP_charging_interfaces_v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:oct="http://www.telefonica.com/schemas/UNICA/SOAP/charging/v1"
 xmlns:uct="http://www.telefonica.com/schemas/UNICA/SOAP/common/v1"
 targetNamespace="http://www.telefonica.com/wsdl/UNICA/SOAP/charging/v1/interfaces"
 elementFormDefault="qualified">
 
 <xsd:import namespace="http://www.telefonica.com/schemas/UNICA/SOAP/charging/v1"
	schemaLocation="UNICA_API_SOAP_charging_types_v1.xsd" />

 <xsd:import namespace="http://www.telefonica.com/schemas/UNICA/SOAP/common/v1"
	schemaLocation="UNICA_API_SOAP_common_types_v1_0.xsd" />            

 <xsd:element name="directDebit">
    <xsd:complexType>
       <xsd:sequence>
          <xsd:element name="requestId" type="oct:RequestIdType" />
          <xsd:element name="requestNumber" type="oct:RequestNumberType" />
          <xsd:element name="timestamp" type="uct:TimestampType" />
          <xsd:element name="senderIdentity" type="oct:SenderIdentityType" />
          <xsd:element name="serviceContextId" type="oct:ServiceContextIdType" />
          <xsd:element name="userId" type="uct:UserIdType" maxOccurs="unbounded" />
          <xsd:element name="operatorId" type="oct:OperatorIdType"
             minOccurs="0" />
          <xsd:element name="subsTimeZone" type="oct:TimeZoneType"
             minOccurs="0" />
          <xsd:element name="locTimeZone" type="oct:TimeZoneType"
             minOccurs="0" />
          <xsd:element name="code1" type="oct:CodeType" minOccurs="0" />
          <xsd:element name="code2" type="oct:CodeType" minOccurs="0" />
          <xsd:element name="code3" type="oct:CodeType" minOccurs="0" />
          <xsd:element name="purchaseCode" type="oct:PurchaseCodeType"
             minOccurs="0" />
          <xsd:element name="description" type="oct:DescriptionType"
             minOccurs="0" />
          <xsd:element name="requestedServiceUnits" type="oct:RequestedServiceUnitsType" />
          <xsd:element name="price" type="oct:PriceType" minOccurs="0" />
          <xsd:element name="promotionalCode" type="oct:PromotionalCodeType" minOccurs="0" />
          <xsd:element name="applicationReference" type="oct:ApplicationReferenceType"
             minOccurs="0" />
          <xsd:element name="appProviderId" type="oct:AppProviderIdType"
             minOccurs="0" />
          <xsd:element name="additionalInfo" type="oct:AdditionalInfoType"
             minOccurs="0" />
          <xsd:element name="secondClientId" type="uct:UserIdType"
             minOccurs="0" maxOccurs="unbounded" />
          <xsd:element name="secondClientOperation" type="oct:SecondClientOperationType"
             minOccurs="0" />
          <xsd:element name="serviceInformation" type="oct:ServiceInformationType"
             minOccurs="0"/>
          <xsd:element name="expandedResponse" type="oct:ExpandedResponseType"
             minOccurs="0"/>
          <xsd:element name="extension" type="oct:ExtensionType"
             minOccurs="0" maxOccurs="unbounded" />
       </xsd:sequence>
    </xsd:complexType>
 </xsd:element>

 <xsd:element name="directDebitResponse">
    <xsd:complexType>
       <xsd:sequence>
          <xsd:element name="requestId" type="oct:RequestIdType" />
          <xsd:element name="requestNumber" type="oct:RequestNumberType" />
          <xsd:element name="senderIdentity" type="oct:SenderIdentityType" />
          <xsd:element name="resultCode" type="oct:ResultCodeType" />
          <xsd:element name="correlationId" type="oct:CorrelationIdType"
             minOccurs="0" />
          <xsd:element name="externalTransactionId" type="oct:ExternalTransactionIdType" 
             minOccurs="0" />
          <xsd:element name="applicationReference" type="oct:ApplicationReferenceType"
             minOccurs="0" />
          <xsd:element name="purchaseCodeDescription" type="oct:DescriptionType"
             minOccurs="0" />
          <xsd:element name="purchaseCode" type="oct:PurchaseCodeType"
             minOccurs="0" />
          <xsd:element name="subPurchaseCode" type="oct:SubPurchaseCodeType"
             minOccurs="0" />
          <xsd:element name="price" type="oct:PriceType"
             minOccurs="0"/>
          <xsd:element name="taxes" type="oct:UnitValueType"
             minOccurs="0"/>
          <xsd:element name="extension" type="oct:ExtensionType"
             minOccurs="0" maxOccurs="unbounded" />
       </xsd:sequence>
    </xsd:complexType>
 </xsd:element>

 <xsd:element name="checkBalance">
    <xsd:complexType>
       <xsd:sequence>
          <xsd:element name="requestId" type="oct:RequestIdType" />
          <xsd:element name="requestNumber" type="oct:RequestNumberType" />
          <xsd:element name="timestamp" type="uct:TimestampType" />
          <xsd:element name="senderIdentity" type="oct:SenderIdentityType" />
          <xsd:element name="serviceContextId" type="oct:ServiceContextIdType" />
          <xsd:element name="userId" type="uct:UserIdType" maxOccurs="unbounded" />
          <xsd:element name="operatorId" type="oct:OperatorIdType"
             minOccurs="0" />
          <xsd:element name="subsTimeZone" type="oct:TimeZoneType"
             minOccurs="0" />
          <xsd:element name="locTimeZone" type="oct:TimeZoneType"
             minOccurs="0" />
          <xsd:element name="code1" type="oct:CodeType" minOccurs="0" />
          <xsd:element name="code2" type="oct:CodeType" minOccurs="0" />
          <xsd:element name="code3" type="oct:CodeType" minOccurs="0" />
          <xsd:element name="purchaseCode" type="oct:PurchaseCodeType"
             minOccurs="0" />
          <xsd:element name="description" type="oct:DescriptionType"
             minOccurs="0" />
          <xsd:element name="requestedServiceUnits" type="oct:RequestedServiceUnitsType" />
          <xsd:element name="promotionalCode" type="oct:PromotionalCodeType" minOccurs="0" />
          <xsd:element name="applicationReference" type="oct:ApplicationReferenceType"
             minOccurs="0" />
          <xsd:element name="appProviderId" type="oct:AppProviderIdType"
             minOccurs="0" />
          <xsd:element name="secondClientId" type="uct:UserIdType"
             minOccurs="0" maxOccurs="unbounded" />
          <xsd:element name="secondClientOperation" type="oct:SecondClientOperationType"
             minOccurs="0" />
          <xsd:element name="serviceInformation" type="oct:ServiceInformationType"
             minOccurs="0"/>
          <xsd:element name="extension" type="oct:ExtensionType"
             minOccurs="0" maxOccurs="unbounded" />
       </xsd:sequence>
    </xsd:complexType>
 </xsd:element>

 <xsd:element name="checkBalanceResponse">
    <xsd:complexType>
       <xsd:sequence>
          <xsd:element name="requestId" type="oct:RequestIdType" />
          <xsd:element name="requestNumber" type="oct:RequestNumberType" />
          <xsd:element name="senderIdentity" type="oct:SenderIdentityType" />
          <xsd:element name="resultCode" type="oct:ResultCodeType" />
          <xsd:element name="applicationReference" type="oct:ApplicationReferenceType"
             minOccurs="0" />
          <xsd:element name="purchaseCodeDescription" type="oct:DescriptionType"
             minOccurs="0" />
          <xsd:element name="extension" type="oct:ExtensionType"
             minOccurs="0" maxOccurs="unbounded" />
       </xsd:sequence>
    </xsd:complexType>
 </xsd:element>

 <xsd:element name="generateRecord">
    <xsd:complexType>
       <xsd:sequence>
          <xsd:element name="requestId" type="oct:RequestIdType" />
          <xsd:element name="requestNumber" type="oct:RequestNumberType" />
          <xsd:element name="timestamp" type="uct:TimestampType" />
          <xsd:element name="senderIdentity" type="oct:SenderIdentityType" />
          <xsd:element name="serviceContextId" type="oct:ServiceContextIdType" />
          <xsd:element name="userId" type="uct:UserIdType" maxOccurs="unbounded" />
          <xsd:element name="operatorId" type="oct:OperatorIdType"
             minOccurs="0" />
          <xsd:element name="subsTimeZone" type="oct:TimeZoneType"
             minOccurs="0" />
          <xsd:element name="locTimeZone" type="oct:TimeZoneType"
             minOccurs="0" />
          <xsd:element name="code1" type="oct:CodeType" minOccurs="0" />
          <xsd:element name="code2" type="oct:CodeType" minOccurs="0" />
          <xsd:element name="code3" type="oct:CodeType" minOccurs="0" />
          <xsd:element name="purchaseCode" type="oct:PurchaseCodeType"
             minOccurs="0" />
          <xsd:element name="description" type="oct:DescriptionType"
             minOccurs="0" />
          <xsd:element name="requestedServiceUnits" type="oct:RequestedServiceUnitsType" />
          <xsd:element name="applicationReference" type="oct:ApplicationReferenceType"
             minOccurs="0" />
          <xsd:element name="additionalInfo" type="oct:AdditionalInfoType"
             minOccurs="0" />
          <xsd:element name="secondClientId" type="uct:UserIdType"
             minOccurs="0" maxOccurs="unbounded" />
          <xsd:element name="serviceInformation" type="oct:ServiceInformationType"
             minOccurs="0"/>
          <xsd:element name="extension" type="oct:ExtensionType"
             minOccurs="0" maxOccurs="unbounded" />
       </xsd:sequence>
    </xsd:complexType>
 </xsd:element>

 <xsd:element name="generateRecordResponse">
    <xsd:complexType>
       <xsd:sequence>
          <xsd:element name="requestId" type="oct:RequestIdType" />
          <xsd:element name="requestNumber" type="oct:RequestNumberType" />
          <xsd:element name="senderIdentity" type="oct:SenderIdentityType" />
          <xsd:element name="resultCode" type="oct:ResultCodeType" />
          <xsd:element name="correlationId" type="oct:CorrelationIdType"
             minOccurs="0" />
          <xsd:element name="applicationReference" type="oct:ApplicationReferenceType"
             minOccurs="0" />
          <xsd:element name="extension" type="oct:ExtensionType"
             minOccurs="0" maxOccurs="unbounded" />
       </xsd:sequence>
    </xsd:complexType>
 </xsd:element>

 <xsd:element name="cancelRenewal">
    <xsd:complexType>
       <xsd:sequence>
          <xsd:element name="requestId" type="oct:RequestIdType" />
          <xsd:element name="requestNumber" type="oct:RequestNumberType" />
          <xsd:element name="timestamp" type="uct:TimestampType" />
          <xsd:element name="senderIdentity" type="oct:SenderIdentityType" />
          <xsd:element name="serviceContextId" type="oct:ServiceContextIdType" />
          <xsd:element name="userId" type="uct:UserIdType" maxOccurs="unbounded"
             minOccurs="0" />
          <xsd:element name="operatorId" type="oct:OperatorIdType"
             minOccurs="0" />
          <xsd:element name="subsTimeZone" type="oct:TimeZoneType"
             minOccurs="0" />
          <xsd:element name="locTimeZone" type="oct:TimeZoneType"
             minOccurs="0" />
          <xsd:element name="rollback" type="oct:RollbackType"
             minOccurs="0" />
          <xsd:element name="code1" type="oct:CodeType" minOccurs="0" />
          <xsd:element name="code2" type="oct:CodeType" minOccurs="0" />
          <xsd:element name="code3" type="oct:CodeType" minOccurs="0" />
          <xsd:element name="purchaseCode" type="oct:PurchaseCodeType"
             minOccurs="0" />
          <xsd:element name="subPurchaseCode" type="oct:SubPurchaseCodeType"
             minOccurs="0" />
          <xsd:element name="additionalInfo" type="oct:AdditionalInfoType"
             minOccurs="0" />
          <xsd:element name="extension" type="oct:ExtensionType"
             minOccurs="0" maxOccurs="unbounded" />
       </xsd:sequence>
    </xsd:complexType>
 </xsd:element>

 <xsd:element name="cancelRenewalResponse">
    <xsd:complexType>
       <xsd:sequence>
          <xsd:element name="requestId" type="oct:RequestIdType" />
          <xsd:element name="requestNumber" type="oct:RequestNumberType" />
          <xsd:element name="senderIdentity" type="oct:SenderIdentityType" />
          <xsd:element name="resultCode" type="oct:ResultCodeType" />
          <xsd:element name="extension" type="oct:ExtensionType"
             minOccurs="0" maxOccurs="unbounded" />
       </xsd:sequence>
    </xsd:complexType>
 </xsd:element>
          
 <xsd:element name="refund">
    <xsd:complexType>
       <xsd:sequence>
          <xsd:element name="requestId" type="oct:RequestIdType" />
          <xsd:element name="requestNumber" type="oct:RequestNumberType" />
          <xsd:element name="timestamp" type="uct:TimestampType" />
          <xsd:element name="senderIdentity" type="oct:SenderIdentityType" />
          <xsd:element name="serviceContextId" type="oct:ServiceContextIdType" />
          <xsd:element name="userId" type="uct:UserIdType" maxOccurs="unbounded" />
          <xsd:element name="operatorId" type="oct:OperatorIdType"
             minOccurs="0" />
          <xsd:element name="code1" type="oct:CodeType" minOccurs="0" />
          <xsd:element name="code2" type="oct:CodeType" minOccurs="0" />
          <xsd:element name="code3" type="oct:CodeType" minOccurs="0" />
          <xsd:element name="purchaseCode" type="oct:PurchaseCodeType"
             minOccurs="0" />
          <xsd:element name="subPurchaseCode" type="oct:SubPurchaseCodeType"
             minOccurs="0" />
          <xsd:element name="price" type="oct:PriceType" minOccurs="0" />
          <xsd:element name="applicationReference" type="oct:ApplicationReferenceType"
             minOccurs="0" />
          <xsd:element name="appProviderId" type="oct:AppProviderIdType"
             minOccurs="0" />
          <xsd:element name="additionalInfo" type="oct:AdditionalInfoType"
             minOccurs="0" />
          <xsd:element name="correlationId" type="oct:CorrelationIdType" />
          <xsd:element name="externalTransactionId" type="oct:ExternalTransactionIdType" 
             minOccurs="0" />
          <xsd:element name="extension" type="oct:ExtensionType"
             minOccurs="0" maxOccurs="unbounded" />
       </xsd:sequence>
    </xsd:complexType>
 </xsd:element>

 <xsd:element name="refundResponse">
    <xsd:complexType>
       <xsd:sequence>
          <xsd:element name="requestId" type="oct:RequestIdType" />
          <xsd:element name="requestNumber" type="oct:RequestNumberType" />
          <xsd:element name="senderIdentity" type="oct:SenderIdentityType" />
          <xsd:element name="resultCode" type="oct:ResultCodeType" />
          <xsd:element name="correlationId" type="oct:CorrelationIdType"
             minOccurs="0" />
          <xsd:element name="applicationReference" type="oct:ApplicationReferenceType"
             minOccurs="0" />
          <xsd:element name="extension" type="oct:ExtensionType"
             minOccurs="0" maxOccurs="unbounded" />
       </xsd:sequence>
    </xsd:complexType>
 </xsd:element>         

 <xsd:element name="getPurchaseModelsOfEvents">
    <xsd:complexType>
       <xsd:sequence>
          <xsd:element name="requestId" type="oct:RequestIdType" />
          <xsd:element name="timestamp" type="uct:TimestampType" />
          <xsd:element name="senderIdentity" type="oct:SenderIdentityType" />
          <xsd:element name="serviceContextId" type="oct:ServiceContextIdType" />
          <xsd:element name="userId" type="uct:UserIdType" maxOccurs="unbounded" />
          <xsd:element name="operatorId" type="oct:OperatorIdType"
             minOccurs="0" />
          <xsd:element name="subsTimeZone" type="oct:TimeZoneType"
             minOccurs="0" />
          <xsd:element name="locTimeZone" type="oct:TimeZoneType"
             minOccurs="0" />
          <xsd:element name="language" type="oct:LanguageType"
             minOccurs="0" />
          <xsd:element name="typeOfQuery" type="oct:TypeOfQueryType"
             minOccurs="0" />
          <xsd:element name="showOtherEvents" type="oct:ShowOtherEventsType"
             minOccurs="0" />
          <xsd:element name="aggregateVouchers" type="oct:AggregateVouchersType"
             minOccurs="0" />
          <xsd:element name="serviceInformation" type="oct:ServiceInformationType"
             minOccurs="0"/>
          <xsd:element name="requestedEvents" type="oct:EventsListType" />
          <xsd:element name="extension" type="oct:ExtensionType"
             minOccurs="0" maxOccurs="unbounded" />
       </xsd:sequence>
    </xsd:complexType>
 </xsd:element>

 <xsd:element name="getPurchaseModelsOfEventsResponse">
    <xsd:complexType>
       <xsd:sequence>
          <xsd:element name="requestId" type="oct:RequestIdType" />
          <xsd:element name="senderIdentity" type="oct:SenderIdentityType" />
          <xsd:element name="resultCode" type="oct:ResultCodeType" />
          <xsd:element name="costBeforeTaxes" type="xsd:unsignedInt"
             minOccurs="0" />
          <xsd:element name="taxes" type="oct:UnitValueType"
             minOccurs="0" />
          <xsd:element name="purchaseModelsOfEventsList" type="oct:PurchaseModelsOfEventsListType"
             minOccurs="0" maxOccurs="1" />
          <xsd:element name="extension" type="oct:ExtensionType"
             minOccurs="0" maxOccurs="unbounded" />
       </xsd:sequence>
    </xsd:complexType>
 </xsd:element>
 
 <xsd:element name="getExpensesControlConfiguration">
    <xsd:complexType>
       <xsd:sequence>
          <xsd:element name="requestId" type="oct:RequestIdType" />
          <xsd:element name="timestamp" type="uct:TimestampType" />
          <xsd:element name="senderIdentity" type="oct:SenderIdentityType" />
          <xsd:element name="userId" type="uct:UserIdType" maxOccurs="unbounded" />
          <xsd:element name="operatorId" type="oct:OperatorIdType" minOccurs="0" />
          <xsd:element name="extension" type="oct:ExtensionType" minOccurs="0" maxOccurs="unbounded" />
       </xsd:sequence>
    </xsd:complexType>
 </xsd:element>

 <xsd:element name="getExpensesControlConfigurationResponse">
    <xsd:complexType>
       <xsd:sequence>
          <xsd:element name="requestId" type="oct:RequestIdType" />
          <xsd:element name="senderIdentity" type="oct:SenderIdentityType" />
          <xsd:element name="resultCode" type="oct:ResultCodeType" />
          <xsd:element name="maxLimit" type="oct:PriceType" minOccurs="0" />
          <xsd:element name="maxLimitPerApplication" type="oct:PriceType" minOccurs="0" />
          <xsd:element name="userLimit" type="oct:PriceType" minOccurs="0" />
          <xsd:element name="thresholdsList" type="oct:ThresholdsListResponseType" minOccurs="0" />
          <xsd:element name="applicationControlsList" type="oct:ApplicationControlsListResponseType" minOccurs="0" />
          <xsd:element name="accumPeriod" type="oct:PeriodType" minOccurs="0"/>
          <xsd:element name="extension" type="oct:ExtensionType" minOccurs="0" maxOccurs="unbounded" />
       </xsd:sequence>
    </xsd:complexType>
 </xsd:element>         

 <xsd:element name="setExpensesControlConfiguration">
    <xsd:complexType>
       <xsd:sequence>
          <xsd:element name="requestId" type="oct:RequestIdType" />
          <xsd:element name="timestamp" type="uct:TimestampType" />
          <xsd:element name="senderIdentity" type="oct:SenderIdentityType" />
          <xsd:element name="userId" type="uct:UserIdType" maxOccurs="unbounded" />
          <xsd:element name="operatorId" type="oct:OperatorIdType" minOccurs="0" />
          <xsd:element name="userLimit" type="oct:PriceType" minOccurs="0" />
          <xsd:element name="thresholdsList" type="oct:ThresholdsListRequestType" minOccurs="0" />
          <xsd:element name="applicationControlsList" type="oct:ApplicationControlsListRequestType" minOccurs="0"/>
          <xsd:element name="extension" type="oct:ExtensionType" minOccurs="0" maxOccurs="unbounded" />
       </xsd:sequence>
    </xsd:complexType>
 </xsd:element>

 <xsd:element name="setExpensesControlConfigurationResponse">
    <xsd:complexType>
       <xsd:sequence>
          <xsd:element name="requestId" type="oct:RequestIdType" />
          <xsd:element name="senderIdentity" type="oct:SenderIdentityType" />
          <xsd:element name="resultCode" type="oct:ResultCodeType" />
          <xsd:element name="extension" type="oct:ExtensionType" minOccurs="0" maxOccurs="unbounded" />
       </xsd:sequence>
    </xsd:complexType>
 </xsd:element>         

</xsd:schema>
