libraries/schemas/src/main/resources/xsd/UNICA_API_REST_payment_types_v3_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- March, 2012 -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
			xmlns:tns="http://www.telefonica.com/schemas/UNICA/REST/payment/v3/" 
			xmlns:uctr="http://www.telefonica.com/schemas/UNICA/REST/common/v2"
			targetNamespace="http://www.telefonica.com/schemas/UNICA/REST/payment/v3/" 
			elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<xsd:import namespace="http://www.telefonica.com/schemas/UNICA/REST/common/v2" schemaLocation="UNICA_API_REST_common_types_v2_0.xsd"/>


<xsd:annotation>
	<xsd:documentation>The following are the resources to be included in HTTP requests or responses</xsd:documentation>
</xsd:annotation>

	<xsd:element name="notifyPaymentTransaction" type="tns:NotifyPaymentTransactionType"/>
	<xsd:element name="paymentTransactionList" type="tns:PaymentTransactionListType"/>
	<xsd:element name="purchaseTransaction" type="tns:PurchaseTransactionType"/>
	<xsd:element name="subscriptionTransaction" type="tns:SubscriptionTransactionType"/>
	<xsd:element name="amountTransaction" type="tns:AmountTransactionType"/>
	<xsd:element name="amountReservationTransaction" type="tns:AmountReservationTransactionType"/>
	<xsd:element name="paymentAmount" type="tns:PaymentAmountType"/>		

   
<xsd:annotation>
	<xsd:documentation>The following are the types defined for each used resource</xsd:documentation>
</xsd:annotation>

   <xsd:complexType name="NotifyPaymentTransactionType">
      <xsd:sequence>
        <xsd:choice>
			<xsd:element name="purchaseTransaction" type="tns:PurchaseTransactionType" maxOccurs="1" minOccurs="1"/>
			<xsd:element name="subscriptionTransaction" type="tns:SubscriptionTransactionType" maxOccurs="1" minOccurs="1"/>
			<xsd:element name="amountReservationTransaction" type="tns:AmountReservationTransactionType" maxOccurs="1" minOccurs="1"/>    		
      		<xsd:element name="amountTransaction" type="tns:AmountTransactionType" maxOccurs="1" minOccurs="1"/>			
		</xsd:choice>         
      	<xsd:element name="exception" type="uctr:ExceptionType" maxOccurs="1" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="PaymentTransactionListType">
      <xsd:sequence>
		<xsd:element name="purchaseTransaction" type="tns:PurchaseTransactionType" maxOccurs="unbounded" minOccurs="0"/>
		<xsd:element name="subscriptionTransaction" type="tns:SubscriptionTransactionType" maxOccurs="unbounded" minOccurs="0"/>
		<xsd:element name="amountReservationTransaction" type="tns:AmountReservationTransactionType" maxOccurs="unbounded" minOccurs="0"/>
      	<xsd:element name="amountTransaction" type="tns:AmountTransactionType" maxOccurs="unbounded" minOccurs="0"/>
        <xsd:element name="resourceURL" type="xsd:anyURI" maxOccurs="1" minOccurs="0"/>
        <xsd:element name="link" type="xsd:anyURI" maxOccurs="unbounded" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   
   <xsd:complexType name="PurchaseTransactionType">
      <xsd:sequence>
         <xsd:element name="endUserId" type="xsd:anyURI" maxOccurs="1" minOccurs="1"/>
         <xsd:element name="userAuthKind" type="tns:UserAuthKindType" maxOccurs="1" minOccurs="0"/>
		 <xsd:element name="merchantURL" type="xsd:anyURI" maxOccurs="1" minOccurs="0"/>	          
         <xsd:element name="purchaseInformation" type="tns:PurchaseInformationType" maxOccurs="1" minOccurs="1"/>
		 <xsd:element name="reservationInformation" type="tns:ReservationInformationType" maxOccurs="1" minOccurs="0"/>         
		 <xsd:element name="receiptRequest" type="uctr:SimpleReferenceType" maxOccurs="1" minOccurs="0"/>
         <xsd:element name="clientCorrelator" type="xsd:string" maxOccurs="1" minOccurs="0"/>
         <xsd:element name="validationCode" type="xsd:string" maxOccurs="1" minOccurs="0"/>
         <xsd:element name="transactionOperationStatus" type="tns:TransactionOperationStatusType" maxOccurs="1" minOccurs="1"/>
		 <xsd:element name="transactionOperationStatusDescription" type="xsd:string" maxOccurs="1" minOccurs="0"/>
		 <xsd:element name="paymentId" type="xsd:string" maxOccurs="1" minOccurs="0"/>		          
         <xsd:element name="authorizationScope" type="xsd:string" maxOccurs="1" minOccurs="0"/>
		 <xsd:element name="paymentAuthURL" type="xsd:anyURI" maxOccurs="1" minOccurs="0"/>         
         <xsd:element name="resourceURL" type="xsd:anyURI" maxOccurs="1" minOccurs="0"/>
         <xsd:element name="link" type="xsd:anyURI" maxOccurs="unbounded" minOccurs="0"/>        
      </xsd:sequence>
	</xsd:complexType>
   
	<xsd:complexType name="SubscriptionTransactionType">
      <xsd:sequence>
         <xsd:element name="endUserId" type="xsd:anyURI" maxOccurs="1" minOccurs="1"/>
         <xsd:element name="userAuthKind" type="tns:UserAuthKindType" maxOccurs="1" minOccurs="0"/>
		 <xsd:element name="merchantURL" type="xsd:anyURI" maxOccurs="1" minOccurs="0"/>         
         <xsd:element name="subscriptionInformation" type="tns:PurchaseInformationType" maxOccurs="1" minOccurs="1"/>
		 <xsd:element name="reservationInformation" type="tns:ReservationInformationType" maxOccurs="1" minOccurs="0"/>         
		 <xsd:element name="receiptRequest" type="uctr:SimpleReferenceType" maxOccurs="1" minOccurs="0"/>
         <xsd:element name="clientCorrelator" type="xsd:string" maxOccurs="1" minOccurs="0"/>
         <xsd:element name="validationCode" type="xsd:string" maxOccurs="1" minOccurs="0"/>
         <xsd:element name="transactionOperationStatus" type="tns:TransactionOperationStatusType" maxOccurs="1" minOccurs="1"/>
		 <xsd:element name="transactionOperationStatusDescription" type="xsd:string" maxOccurs="1" minOccurs="0"/>
		 <xsd:element name="paymentId" type="xsd:string" maxOccurs="1" minOccurs="0"/>		 
         <xsd:element name="authorizationScope" type="xsd:string" maxOccurs="1" minOccurs="0"/>
		 <xsd:element name="paymentAuthURL" type="xsd:anyURI" maxOccurs="1" minOccurs="0"/>                 
         <xsd:element name="resourceURL" type="xsd:anyURI" maxOccurs="1" minOccurs="0"/>
         <xsd:element name="link" type="xsd:anyURI" maxOccurs="unbounded" minOccurs="0"/>
      </xsd:sequence>
 	</xsd:complexType>
 	 
	<xsd:complexType name="AmountTransactionType">
      <xsd:sequence>
         <xsd:element name="endUserId" type="xsd:anyURI" maxOccurs="1" minOccurs="1"/>
         <xsd:element name="paymentAmount" type="tns:PaymentAmountType" maxOccurs="1" minOccurs="1"/>
         <xsd:element name="transactionOperationStatus" type="tns:TransactionOperationStatusType" maxOccurs="1" minOccurs="1"/>
         <xsd:element name="transactionOperationStatusDescription" type="xsd:string" maxOccurs="1" minOccurs="0"/>
         <xsd:element name="referenceCode" type="xsd:string" maxOccurs="1" minOccurs="1"/>
         <xsd:element name="serverReferenceCode" type="xsd:string" maxOccurs="1" minOccurs="0"/>
         <xsd:element name="originalServerReferenceCode" type="xsd:string" maxOccurs="1" minOccurs="0"/>
         <xsd:element name="receiptRequest" type="uctr:SimpleReferenceType" maxOccurs="1" minOccurs="0"/>
         <xsd:element name="clientCorrelator" type="xsd:string" maxOccurs="1" minOccurs="0"/>
         <xsd:element name="resourceURL" type="xsd:anyURI" maxOccurs="1" minOccurs="0"/>
         <xsd:element name="link" type="xsd:anyURI" maxOccurs="unbounded" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   
	<xsd:complexType name="AmountReservationTransactionType">
      <xsd:sequence>
         <xsd:element name="endUserId" type="xsd:anyURI" maxOccurs="1" minOccurs="1"/>        
         <xsd:element name="paymentAmount" type="tns:PaymentAmountType" maxOccurs="1" minOccurs="1"/>
         <xsd:element name="referenceSequence" type="xsd:int" maxOccurs="1" minOccurs="1"/>
         <xsd:element name="referenceCode" type="xsd:string" maxOccurs="1" minOccurs="0"/>
         <xsd:element name="serverReferenceCode" type="xsd:string" maxOccurs="1" minOccurs="0"/>
         <xsd:element name="originalServerReferenceCode" type="xsd:string" maxOccurs="1" minOccurs="0"/>
		 <xsd:element name="receiptRequest" type="uctr:SimpleReferenceType" maxOccurs="1" minOccurs="0"/>         
         <xsd:element name="clientCorrelator" type="xsd:string" maxOccurs="1" minOccurs="0"/>
         <xsd:element name="validationCode" type="xsd:string" maxOccurs="1" minOccurs="0"/>         
         <xsd:element name="transactionOperationStatus" type="tns:TransactionOperationStatusType" maxOccurs="1" minOccurs="1"/>
         <xsd:element name="transactionOperationStatusDescription" type="xsd:string" maxOccurs="1" minOccurs="0"/>
         <xsd:element name="authorizationScope" type="xsd:string" maxOccurs="1" minOccurs="0"/>                 
         <xsd:element name="resourceURL" type="xsd:anyURI" maxOccurs="1" minOccurs="0"/>
         <xsd:element name="link" type="xsd:anyURI" maxOccurs="unbounded" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
      
	<xsd:simpleType name="TransactionOperationStatusType">
      <xsd:restriction base="xsd:string">
      	<xsd:enumeration value="Processing"/>
      	<xsd:enumeration value="AuthorizationInProgress"/>
		<xsd:enumeration value="Authorized"/>
		<xsd:enumeration value="Charged"/>
		<xsd:enumeration value="Refunded"/>
		<xsd:enumeration value="Credited"/>
		<xsd:enumeration value="Reserved"/>
		<xsd:enumeration value="Released"/>
		<xsd:enumeration value="Denied"/>
		<xsd:enumeration value="Refused"/>
		<xsd:enumeration value="Unauthorized"/>
		<xsd:enumeration value="Terminated"/>
      </xsd:restriction>
   </xsd:simpleType>
 
<xsd:annotation>
	<xsd:documentation>The following are the rest of types used in the API</xsd:documentation>
</xsd:annotation>
   
   <xsd:complexType name="PurchaseInformationType">
      <xsd:sequence>
         <xsd:element name="chargingInformation" type="tns:ChargingInformationType" maxOccurs="1" minOccurs="1"/>
         <xsd:element name="chargingMetaData" type="tns:ChargingMetaDataType" maxOccurs="1" minOccurs="0"/>
         <xsd:element name="maxCaptures" type="xsd:integer" maxOccurs="1" minOccurs="0"/>
        </xsd:sequence>
   </xsd:complexType>
   
	<xsd:complexType name="SubscriptionInformationType">
      <xsd:sequence>
         <xsd:element name="chargingInformation" type="tns:ChargingInformationType" maxOccurs="1" minOccurs="1"/>
         <xsd:element name="chargingMetaData" type="tns:ChargingMetaDataType" maxOccurs="1" minOccurs="0"/>      
         <xsd:element name="subscriptionStartDate" type="xsd:dateTime" maxOccurs="1" minOccurs="0"/>   
         <xsd:element name="subscriptionTerminationDate" type="xsd:dateTime" maxOccurs="1" minOccurs="0"/>  
         <xsd:element name="subscriptionTerminationText" type="xsd:string" maxOccurs="1" minOccurs="0"/>    
         <xsd:element name="period" type="xsd:integer" maxOccurs="1" minOccurs="0"/>    
         <xsd:element name="periodUnit" type="xsd:string" maxOccurs="1" minOccurs="0"/>  
         <xsd:element name="maxTotalAmountPerPeriod" type="xsd:decimal" maxOccurs="1" minOccurs="0"/>  
         <xsd:element name="maxCapturesPerPeriod" type="xsd:decimal" maxOccurs="1" minOccurs="0"/>  
 		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="ReservationInformationType">
      <xsd:sequence>
         <xsd:element name="reservationClass" type="tns:ReservationClassType" maxOccurs="1" minOccurs="1"/>
         <xsd:element name="amountReservedRate" type="tns:AmountRateType" maxOccurs="1" minOccurs="0"/>          
         <xsd:element name="initialAmountReserved" type="xsd:decimal" maxOccurs="1" minOccurs="0"/>  
 		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="AmountRateType">
      <xsd:sequence>
         <xsd:element name="amount" type="xsd:decimal" maxOccurs="1" minOccurs="1"/>
         <xsd:element name="interval" type="xsd:duration" maxOccurs="1" minOccurs="1"/>         
      </xsd:sequence>
	</xsd:complexType>
	  
   <xsd:complexType name="PaymentAmountType">
      <xsd:sequence>
         <xsd:element name="chargingInformation" type="tns:ChargingInformationType" maxOccurs="1" minOccurs="1"/>
         <xsd:element name="chargingMetaData" type="tns:ChargingMetaDataType" maxOccurs="1" minOccurs="0"/>         
         <xsd:element name="totalAmountCharged" type="xsd:decimal" maxOccurs="1" minOccurs="0"/>
         <xsd:element name="totalAmountRefunded" type="xsd:decimal" maxOccurs="1" minOccurs="0"/>
         <xsd:element name="totalAmountCredited" type="xsd:decimal" maxOccurs="1" minOccurs="0"/>
         <xsd:element name="totalTaxAmount" type="xsd:decimal" maxOccurs="1" minOccurs="0"/>
         <xsd:element name="amountReserved" type="xsd:decimal" maxOccurs="1" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   
	<xsd:complexType name="ChargingInformationType">
      <xsd:sequence>
         <xsd:element name="description" type="xsd:string" maxOccurs="unbounded" minOccurs="1"/>
         <xsd:element name="currency" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="amount" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="code" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
   </xsd:complexType>
   
   <xsd:complexType name="ChargingMetaDataType">
      <xsd:sequence>
         <xsd:element name="merchantProfile" type="tns:MerchantProfileType" maxOccurs="1" minOccurs="0"/>
         <xsd:element name="onBehalfOf" type="xsd:string" maxOccurs="1" minOccurs="0"/>
         <xsd:element name="purchaseCategoryCode" type="xsd:string" maxOccurs="1" minOccurs="0"/>
         <xsd:element name="channel" type="xsd:string" maxOccurs="1" minOccurs="0"/>
         <xsd:element name="taxAmount" type="xsd:decimal" maxOccurs="1" minOccurs="0"/>
         <xsd:element name="mandateId" type="xsd:string" maxOccurs="1" minOccurs="0"/>
         <xsd:element name="serviceId" type="xsd:string" maxOccurs="1" minOccurs="0"/>
         <xsd:element name="productId" type="xsd:string" maxOccurs="1" minOccurs="0"/>
		 <xsd:element name="subscriptionPeriod" type="xsd:int" maxOccurs="1" minOccurs="0"/>
         <xsd:element name="clientDate" type="xsd:dateTime" maxOccurs="1" minOccurs="0"/>		 
         <xsd:element name="additionalProductInfo" type="uctr:ExtensionType" maxOccurs="1" minOccurs="0"/>         
         <xsd:element name="paymentMethodType" type="xsd:string" maxOccurs="1" minOccurs="0"/>
         <xsd:element name="additionalChargingMetaData" type="uctr:ExtensionType" maxOccurs="1" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   
	<xsd:complexType name="MerchantProfileType">
      <xsd:sequence>
         <xsd:element name="merchantId" type="xsd:string" maxOccurs="1" minOccurs="1"/>
         <xsd:element name="merchantPassword" type="xsd:string" maxOccurs="1" minOccurs="0"/>
         <xsd:element name="merchantTitle" type="xsd:string" maxOccurs="1" minOccurs="0"/>
         <xsd:element name="merchantName" type="xsd:decimal" maxOccurs="1" minOccurs="0"/>
         <xsd:element name="merchantLegalForm" type="xsd:string" maxOccurs="1" minOccurs="0"/>
         <xsd:element name="merchantPhone" type="uctr:E164Type" maxOccurs="1" minOccurs="0"/>
         <xsd:element name="merchantMail" type="uctr:EmailAddressType" maxOccurs="1" minOccurs="0"/>
         <xsd:element name="merchantAddress" type="uctr:AddressType" maxOccurs="1" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>

  	<xsd:simpleType name="UserAuthKindType">
      <xsd:restriction base="xsd:string">
      	<xsd:enumeration value="Direct"/>
      	<xsd:enumeration value="Code"/>
		<xsd:enumeration value="Oauth1"/>
		<xsd:enumeration value="Oauth2"/>
		<xsd:enumeration value="WWW"/>
      </xsd:restriction>
   </xsd:simpleType>

   	<xsd:simpleType name="ReservationClassType">
      <xsd:restriction base="xsd:string">
      	<xsd:enumeration value="Default"/>
      	<xsd:enumeration value="Bounded"/>
		<xsd:enumeration value="Unbounded"/>
      </xsd:restriction>
   </xsd:simpleType>
	
</xsd:schema>
